@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form id="eanreadout">
    <p>EAN: <input type="text" name="ean" /></p>
</form>

<h2>Matériel Sorti</h2>
<ul id="scanned-material">

</ul>