@{
    ViewData["Title"] = "Home Page";
}

<h2>Scan Material</h2>

<form method="post" action="/" enctype="multipart/form-data">
    <input type="file" name="MaterialFile" />
    <button type="submit">Upload Material File</button>
</form>