@{
    ViewData["Title"] = "Home Page";
}

<h2>Upload Material List</h2>

<form method="post" action="/" enctype="multipart/form-data">
    <input type="file" name="MaterialFile" />
    <button type="submit">Upload Material File</button>
</form>

<p>Or <a href="/Material">Start Scanning</a></p>