@{
    ViewData["Title"] = "Home Page";
}

<h2>Scan Material</h2>

<form method="post" action="/">
    <input type="file" name="materialfile" />
    <button type="submit">Upload Material File</button>
</form>