html {
  font-size: 14px;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    background-image: url('../logo.png');
    background-repeat: no-repeat;
    min-height: 160px;
}

header h1 {
    margin-left: 180px;
}